php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
#php_flag  log_errors on
#php_value error_log  /home/path/public_html/domain/PHP_errors.log

RewriteEngine On
RewriteBase /

#force https:
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}:443%{REQUEST_URI} [R=301,L]

#force www:
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^$ webhouse/main.php

# not a file
RewriteCond %{REQUEST_FILENAME} !-f 
# is an axisting dir
RewriteCond %{REQUEST_FILENAME} -d 
# not these dirs
RewriteCond %{REQUEST_FILENAME} !(calendar)
RewriteCond %{REQUEST_URI} ^/[^/]+/?$
RewriteRule ^([^/]*)/?$ webhouse/main.php?nav=$1 [L,QSA]

# not a file
RewriteCond %{REQUEST_FILENAME} !-f
# is an axisting dir
RewriteCond %{REQUEST_FILENAME} -d 
# not these dirs
RewriteCond %{REQUEST_FILENAME} !(calendar)
RewriteCond %{REQUEST_URI} /.*/.*
RewriteRule ^([^/]*)/([^/]*)$ webhouse/main.php?nav=$1&subnav=$2 [L,QSA]